<html>
  <%- include('./common/header')%>
  <body>
    <div class="container-fluid">
    <%- include('./common/title')%>
    <div class="mt-5">
      <p>ゲームが始まりました!</p>
      <p>自分の禁句をさぐりつつ、相手に禁句を言わせるよう会話を誘導しましょう</p>
    </div>
    <article>
      <div>
        <%= selectedPlayerName != undefined ? 'あなたの名前: ' +
        selectedPlayerName :'not found' %>
      </div>
    </article>
    <br />
      <div class="row justify-content-start align-items-start">
        <% if(playerNames[0] != undefined && playerNames[0] !=selectedPlayerName){ %>
          <div class="col-auto p-2">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <p class="card-text"><%= playerNames[0] %></p>
                <h5 class="card-title"><%= ngwords[0] %></h5>
              </div>
            </div>
          </div>
          <% } %>
        <% if(playerNames[1] != undefined && playerNames[1] !=selectedPlayerName){ %>
          <div class="col-auto p-2">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <p class="card-text"><%= playerNames[1] %></p>
              <h5 class="card-title"><%= ngwords[1] %></h5>
            </div>
          </div>
        </div>
      <% } %>
      <% if(playerNames[2] != undefined && playerNames[2] !=selectedPlayerName){ %>
        <div class="col-auto p-2">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text"><%= playerNames[2] %></p>
            <h5 class="card-title"><%= ngwords[2] %></h5>
          </div>
        </div>
      </div>
      <% } %>
    <% if(playerNames[3] != undefined && playerNames[3] !=selectedPlayerName){ %>
      <div class="col-auto p-2">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text"><%= playerNames[3] %></p>
            <h5 class="card-title"><%= ngwords[3] %></h5>
          </div>
        </div>
      </div>
      <% } %>
      <% if(playerNames[4] != undefined && playerNames[4] !=selectedPlayerName){ %>
      <div class="col-auto p-2">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text"><%= playerNames[4] %></p>
            <h5 class="card-title"><%= ngwords[4] %></h5>
          </div>
        </div>
      </div>
      <% } %>
      <% if(playerNames[5] != undefined && playerNames[5] !=selectedPlayerName){ %>
      <div class="col-auto p-2">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text"><%= playerNames[5] %></p>
            <h5 class="card-title"><%= ngwords[5] %></h5>
          </div>
        </div>
      </div>
      <% } %>
      <% if(playerNames[6] != undefined && playerNames[6] !=selectedPlayerName){ %>
      <div class="col-auto p-2">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text"><%= playerNames[6] %></p>
            <h5 class="card-title"><%= ngwords[6] %></h5>
          </div>
        </div>
      </div>
      <% } %>
      <% if(playerNames[7] != undefined && playerNames[7] !=selectedPlayerName){ %>
      <div class="col-auto p-2">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text"><%= playerNames[7] %></p>
            <h5 class="card-title"><%= ngwords[7] %></h5>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <br />
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-theme mb-5" data-toggle="modal" data-target="#exampleModalLong">
      遊び方
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">遊び方</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <h2>概要</h2>
              <p>「<span class="text-theme">絶対に言ってはいけないゲームの部屋</span>」へようこそ。</p>
              <p>私はあなたを含むプレイヤーそれぞれに「言ってはいけない言葉(禁止ワード)」を割り当てました。</p>
              <p>自分の禁止ワードを言わないように気をつけながら、プレイヤー同士で会話をしてください。</p>
              <br />
              <p>自分の禁止ワードを言ってしまった場合はゲームオーバーです。</p>
              <p>どこからともなく現れる黒ずくめの処刑人にお尻を叩かれてしまうでしょう。</p>
              <p>この部屋から無事に出られるのは、最後まで禁止ワードを言わなかった1名、つまり勝者だけです。</p>
              <br />
              <p>ただし、この部屋から出る方法はもう一つあります。</p>
              <p>自分の禁止ワードが何かを当てることです。</p>
              <p>プレイヤーが自分に何を言わせようとしているのか、注意を払って推測しましょう。</p>
              <br/>
              <p>無事に部屋から出られることを祈っています。</p>
            </div>

            <div class="mt-5">
              <h2>所要時間</h2>
              <p>10分</p>
              </p>*無制限にもできますが、勝負がつかないことがあるので制限時間を決めることをオススメします。<p>
            </div>

            <div class="mt-5">
              <h2>勝利条件</h2>
              <p>・自分以外のプレイヤーが全員禁止ワードを言う</p>
              <p>・自分の禁止ワードが何かを当てる</p>
            </div>

            <div class="mt-5">
              <h2>敗北条件</h2>
              <p>・自分の禁止ワードを言う</p>
              <p>・制限時間内に自分の禁止ワードが何かを当てられない</p>
              <p>・相手に禁止ワードが何かを当てられる</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>
 
      </div>
    </div>
    <div>
      <a href="/enterRoom?roomName=<%= roomName %>">前の画面へ戻る</a>
    </div>
    <%- include('./common/footer')%>
  </body>
</html>
